
@{
    ViewBag.Title = "DonorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donor Details</h2>

@Html.Label("Search","Search: ")
<input type="text" />

<input id="Submit1" type="submit" value="Generate Report" />

