
@{
    ViewBag.title = "HowToDonate";
}

<title>How to donate</title>

<div>
    <h2>How To Donate</h2>
    <ul>
        <li>Firstly click on the Donate tab</li>
        <li>You will be redirected to the log-in page</li>
        <li>Enter your log-in details (username and your password are required to log in). If you do not have an account yet, you can easily create one by clicking the <a href="">Register</a> link on the log-in page or here.</li>
        <li>After you are succesfuly logged in, you can specify the amount of money you want to donate either by selectinhg the given amounts or by just writing it down in the provided field.</li>
        <li>You will then be required to privately enter your banking details to conclude your details.</li>
        <li>A pop up will be showed to you confirming the submission and an email will be sent to you notifying you of your submission</li>
        <li>Easily like that, you've made your change!!</li>
    </ul>
</div>
