
@{
    ViewBag.Title = "ThankYou";
}

<h2>Successfuly Donated!</h2><br />
<h3 style="background-color:forestgreen">!!Thank you for your contribution!!!</h3><br /><br />
<p>Thank you for your donation, your donation will help feed a child.</p><br />
@Html.ActionLink("Back home..","Home","Donation")